@import 'vars';

:local {
  .systemStats {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @include panel-max-width;
    min-height: 64px;
    margin: 0 auto 0 auto;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #444;

    @media (max-width: 420px) { padding: 10px; }

    small.related {
      position: absolute;
      right: 20px;
      bottom: 20px;

      @media (max-width: 420px) {
        right: 10px;
        bottom: 10px;
      }
    }
  }

  .systemStats:not(:first-child) {
    margin-top: 5px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 420px) {
      &.block {
        display: block;
      }
    }
  }

  .timing {
    font-size: 12px;
    white-space: nowrap;
    line-height: 18px;
  }

  .battleDuration {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
  }

  .generalStats {
    font-size: 12px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
  }

  .removeBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
