:local {
  .root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-right: 2px;
  }

  .otherShips {

  }

  .ship {
    width: 100%;
    min-height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: top;
    padding-left: 5px;
    text-decoration: none;
    color: #e0e0e0;
    overflow: hidden;

    .char {
      font-weight: bold;
      color: gold;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 3px;

      display: flex;
      justify-content: space-between;
    }

    .charName {
      flex-grow: 0;
      flex-shrink: 1;
      display: flex;
      align-items: baseline;
      overflow: hidden;

      span {
        flex-grow: 0;
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 2px;
      }
    }

    .moreShipsBtn {
      cursor: pointer;
      color: gold;
      &:hover, &:active {
        text-decoration: underline;
      }
    }

    .lossValue {
      color: #e0e0e0;
      font-weight: 400;
    }

    .pod {
      color: #ddd;
      &:hover, &:active {
        text-decoration: underline;
      }
    }

    .unknownShip {
      color: gold;
      font-size: 12px;
      &:hover, &:active {
        text-decoration: underline;
      }
    }

    .shiptype {
      font-weight: normal;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

}
