@import 'vars';

:local {
  .brInfoRoot {
    position: relative;
    width: 100%;
    @include panel-max-width;
    margin: 0 auto 0 auto;
    margin-bottom: 10px;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detailsBtn {
    position: absolute;
    right: 10px;
    bottom: 15px;
  }

  .btnCollapse {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #222;

    color: #888;
    text-align: left;
    font-size: 12px;
    user-select: none;

    &:hover {
      background-color: #555;
    }
    &:active, &:focus {
      background-color: #777;
    }
  }
}
