:local {
  .root {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
    user-select: text;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    hr {
      width: 100%;
    }
  }
}
