:local {
  .root {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin: 1px 0;
    background: #222;
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

    .names {
      display: flex;
      align-items: left;
      flex-direction: column;
      max-width: 114px;

      .shipName {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
        color: gold;
      }

      .shipGroupName {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: 10px;
      }
    }

    .counts {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > div {
        width: 44px;
        min-width: 44px;
        text-align: right;
      }

      > div:last-child {
        width: 64px;
        min-width: 64px;
      }
    }

    .red {
      color: #f00000;
    }

    .bold {
      font-weight: 800;
    }
  }

  .allys {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

}
