@import 'vars';

:local {
  .systemStats {
    position: relative;
    width: 100%;
    @include panel-max-width;
    margin: 0 auto 0 auto;
    padding: 15px;
    font-size: 16px;
    @include fontsize;
    border: 1px solid #444;

    @media (max-width: 420px) { padding: 10px; }

    small.related {
      position: absolute;
      right: 20px;
      bottom: 20px;

      @media (max-width: 420px) {
        right: 10px;
        bottom: 10px;
      }
    }
  }

  .dashboard {
    margin-top: 20px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 420px) {
      display: block;
    }

    .systemName {
      white-space: nowrap;
      @media (max-width: 420px) { font-size: 16px; }

      > small {
        margin-left: 5px;
      }
    }
  }

  .timing {
    /*font-size: 12px;*/
    white-space: nowrap;
  }

  .generalStats {
    /*font-size: 12px;*/
    display: flex;
    flex-direction: column;
  }
}
