:local {
  .systemStats {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0 auto;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #444;

    @media (max-width: 420px) { padding: 10px; }
  }

  .dashboard {
    margin-top: 20px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 420px) {
      display: block;
    }

    .systemName {
      white-space: nowrap;
      @media (max-width: 420px) { font-size: 16px; }

      > small {
        margin-left: 5px;
      }
    }
  }

  .timing {
    font-size: 12px;
    white-space: nowrap;
  }

  .generalStats {
    font-size: 12px;
  }
}
