:local {
  .reportRoot {
    position: relative;
    width: 100%;
    /*overflow-y: auto;*/
    color: #888;
    background-color: #181818;
    margin: 0;
    padding: 0;
  }

  .scrollContainer {
    position: relative;
    overflow-x: auto;
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: column;
  }

  .teamsRoot {
    display: flex;
    flex-direction: row;
    background-color: #181818;
    transform: translate3d(0, 0, 0);

    .autogrowSpace {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
    }
  }

  .radioGrp {
    position: absolute;
    right: 0;
    top: 0;
  }
}
