:local {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    max-width: 600px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #555;
    background: black;

    input {
      font-size: 16px;
    }

    @media (max-width: 400px) {
      padding: 10px;
    }
  }

  .helper {
    overflow: hidden;
    margin-bottom: 5px;
    color: red;

    &.valid {
      color: green;
    }

    @media (max-width: 400px) {
      font-size: 9px;
    }
  }

  .label {
    font-size: 14px;
    line-height: 30px;
  }

  .systemInputGroup {
    position: relative;
    flex: 1 1 100%;

    .systemInput > :global(input.bp3-input) {
      @media (max-width: 400px) {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        padding-left: 30px !important;
      }
    }

    @media (max-width: 400px) {
      :global(.bp3-input-group.bp3-large > .bp3-icon) {
        margin: 7px;
      }
    }
  }

  .regionPlaceholder {
    position: absolute;
    left: 0;
    right: 10px;
    z-index: 1;
    padding: 0 40px 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: 400px) {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      padding-left: 30px;
    }

    .systemHidden {
      visibility: hidden;
    }
  }

  .dropdown {
    position: relative;
    z-index: 100;
    font-size: 14px;
    color: black;
    background-color: white;

    .overlay {
      position: absolute;
      left: 0;
      z-index: 1;
      padding: 10px 5px;
      background: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

    .item {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #aaa;
      }
    }
  }
}
