.bp3-datepicker-caption select + .bp3-icon {
  right: 2px !important;
}

:local {
  .root {
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: text;
  }

  .controls {
    display: flex;
    justify-content: space-around;
    width: 320px;
    max-width: 320px;
    padding-top: 20px;

    :global(button.bp3-button.bp3-active.bp3-large) {
      background-color: #aaa;
    }
  }

  .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    color: #888;
    padding: 0 15px;

    @media (max-width: 360px) { padding: 10px; }

    @media (max-width: 320px) { padding: 5px; }

    h4 {
      margin: 0;
      text-align: center;
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #555;
    background: black;

    input {
      font-size: 16px;
    }

    > div {
      margin-bottom: 10px;
    }

    @media (max-width: 400px) {
      padding: 10px;
    }

    .cardRow {
      display: flex;
      flex-wrap: wrap;
      color: red;

      &.valid {
        color: #42AFF0;
      }

      > span:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .matchedLink {
    color: #42AFF0;
  }

  .notValid {
    color: red;
  }

  .matchedSystem {
    color: #eee;
  }

  .recent {
    position: relative;
    width: 100%;
    max-width: 560px;
    font-size: 14px;
    margin-top: 40px;

    .spinnerWrapper {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      min-height: 400px;
      padding-top: 100px;
    }

    .item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;

      .systemCell {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: #ccc;

        @media (max-width: 420px) {
          font-size: 12px;
        }

        > a {
          margin-right: 10px;
          font-size: 16px;

          @media (max-width: 400px) {
            margin-right: 5px;
            font-size: 14px;
          }
        }

        > div {
          @media (max-width: 400px) {
            font-size: 12px;
          }

          @media (max-width: 375px) {
            font-size: 10px;
          }
        }

        > div.statsCell {
          @media (max-width: 400px) {
            font-size: 12px;
          }
        }
      }

      .distanceCell {
        font-size: 10px;
        line-height: 18px;
        color: #888;
      }

      .statsCell {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: #ccc;
        margin-right: 5px;
      }

      .createdAt {
        font-size: 10px;
        line-height: 18px;
        color: #888;
      }

      @media (max-width: 320px) {
        .createdAtLabel {
          display: none;
        }
      }
    }

    :global(.bp3-tab-list) {
      align-items: center;
      justify-content: center;
    }

    :global(.bp3-tab-list > *:not(:last-child)) {
      margin-right: 30px;
    }

    :global(.bp3-tab) {
      line-height: 18px;
      font-size: 14px;
      white-space: normal;
      text-align: center;
      padding-bottom: 10px;
    }

    :global(.bp3-tab)[aria-selected="false"] {
      color: #888;
    }
    :global(.bp3-tab)[aria-disabled="true"] {
      color: rgba(92, 112, 128, 0.5);
    }
    :global(.bp3-tab)[aria-selected="true"],
    :global(.bp3-tab):not([aria-disabled="true"]):hover {
      color: #eee;
    }

    :global(.bp3-tab-indicator-wrapper .bp3-tab-indicator) {
      background-color: #eee;
    }

    @media (max-width: 620px) {
      :global(.bp3-tab) {
        font-size: 14px;
        max-width: 100px;
      }

      :global(.bp3-tab-list > *:not(:last-child)) {
        margin-right: 20px;
      }
    }

    @media (max-width: 420px) {
      :global(.bp3-tab) {
        font-size: 12px;
        max-width: 83px;
      }

      :global(.bp3-tab-list > *:not(:last-child)) {
        margin-right: 15px;
      }
    }

    @media (max-width: 375px) {
      :global(.bp3-tab) {
        font-size: 12px;
        max-width: 83px;
      }

      :global(.bp3-tab-list > *:not(:last-child)) {
        margin-right: 10px;
      }
    }

    @media (max-width: 320px) {
      :global(.bp3-tab) {
        font-size: 10px;
        max-width: 63px;
      }

      :global(.bp3-tab-list > *:not(:last-child)) {
        margin-right: 15px;
      }
    }
  }

  .maintenanceRoot {
    max-width: 600px;
    border: 1px solid #555;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
  }
}
