:local {
  .root {
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: text;
  }

  .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    color: #888;
    padding: 0 15px;

    @media (max-width: 375px) { padding: 10px; }

    @media (max-width: 320px) { padding: 5px; }

    h4 {
      margin: 0;
      text-align: center;
      line-height: 20px;
    }
  }

  .createLink {
    margin-top: 20px;
  }

  .recentLinks {
    width: 100%;
    max-width: 560px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    > a, a:hover {
      cursor: pointer;
      color: grey !important;

      &:global(.active) {
        cursor: default;
        color: white !important;
        text-decoration: underline;
      }
    }
  }

  .maintenanceRoot {
    max-width: 682px;
    border: 1px solid #555;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
  }
}
