:local {
  .root {
    position: relative;
    height: 100%;
    overflow-y: auto;
    color: #aaa;
    font-size: 14px;

    @media (max-width: 400px) {
      font-size: 12px;
    }

    :global(.bp3-navbar) {
      background-color: black;
    }
  }

  .headWrapper {
    max-width: 682px;
    margin: auto;
    padding: 0 20px;

    @media (max-width: 400px) {
      padding: 0;
    }
  }

  .heading {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 32px;
    height: 32px;
  }

  .iconText {
    margin-left: 10px;
  }

  .body {
    position: relative;
    width: 100%;
    max-width: 682px;
    min-height: 40px;
    margin: 100px auto;
    padding: 0 20px;

    @media (max-width: 400px) {
      margin-top: 90px;
      margin-bottom: 50px;
    }
  }
}
