:local {
  .appRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    user-select: text;
    color: #888;
    padding-top: 100px; /* navbar with margin */
  }

  .space {
    position: relative;
    height: 10px;
  }
}
