:local {
  .appRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: text;
    color: #888;
  }

  .headWrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    padding-bottom: 0;
    @media (max-width: 360px) {
      padding: 10px;
      padding-bottom: 0;
    }
  }

  .errWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-height: 60px;
    padding: 10px 0;
    color: red;
  }

  .head {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .header {
      margin-bottom: 10px;
    }
  }

  .controls {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .buttons {
      display: flex;
    }
  }

  .separator {
    width: 100%;
    border: 1px solid #eee;
    border-style: inset;
  }
}
