:local {

  .inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    > div:not(:last-child) {
      position: relative;
      margin: 0;
      margin-right: 5px;
    }
    @media (max-width: 500px) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (max-width: 400px) {
      :global(.bp3-input-group.bp3-large .bp3-input) {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
      }

      :global(.bp3-input-group.bp3-large > .bp3-icon) {
        margin: 7px;
      }

      :global(.bp3-input-group.bp3-large .bp3-input:not(:first-child)) {
        padding-left: 30px;
      }
    }
  }

  .timeGroup {
    display: flex;
    align-items: center;

    :global(span.bp3-icon.bp3-icon-time) {
      margin-left: 10px;
      margin-right: 5px;

      @media (max-width: 500px) {
        display: none;
        margin: 0;
      }
    }

    > div:last-child {
      margin-left: 5px;
    }
  }

  .numericInput {
    width: 45px;
    max-width: 45px;
    /*flex-basis: 45px;*/
    user-select: none;

    @media (max-width: 400px) {
      width: 40px;
      max-width: 40px;
      /*flex-basis: 40px;*/
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & > :global(.bp3-input-group) {
      flex-grow: 0;
      flex-shrink: 1;
    }

    button span svg {
      overflow: visible;
      margin-top: -3px;
    }
  }
}
