/*$g-base-font-family: 'Helvetica Neue', Helvetica, Arial, pts-rouble, sans-serif;*/
$g-base-font-family: Verdana, Helvetica, Arial, sans-serif;

@import 'normalize';
@import '~@blueprintjs/core/src/blueprint.scss';
@import '~@blueprintjs/datetime/src/blueprint-datetime.scss';

:global {
  html, body {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    font-family: Verdana;
    background-color: #181818;
    font-size: 12px;
    color: #888;
/*
    @media (max-width: 600px) {
      font-size: 12px;
    }
    @media (max-width: 400px) {
      font-size: 10px;
    }*/
  }

  #react-root {
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

a, a:hover {
  cursor: pointer;
  color: #42AFF0;
}

button a,
button a:hover {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #eee;
}
