@import 'normalize';
@import '~@blueprintjs/core/src/blueprint.scss';
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

html, body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #181818;
  font-size: 12px;
  color: #888;
}

body {
  -webkit-overflow-scrolling: touch;

  .bp3-dialog-container {
    align-items: flex-start;
  }

  .bp3-dark .bp3-dialog-header {
    background-color: #333;
  }

  .bp3-dialog.bp3-dark {
    background-color: #222222;
    border: 1px solid #444;
    padding-bottom: 0;

    .bp3-dialog-body {
      background-color: #222222;
    }

    .bp3-control {
      margin-bottom: 30px;
    }
  }
}

#react-root {
  height: 100%;
  overflow: auto;
  position: relative;
}

a, a:hover {
  cursor: pointer;
  color: #42AFF0;
}

button a,
button a:hover {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #eee;
}
