$g-base-font-family: Verdana, Helvetica, Arial, sans-serif;

@import 'normalize';
@import '~@blueprintjs/core/src/blueprint.scss';

:global {
  html, body {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    font-family: Verdana;
    background-color: #181818;
    font-size: 12px;
    color: #888;
  }

  #react-root {
    height: 100%;
    overflow: auto;
  }
}

a, a:hover {
  cursor: pointer;
  color: #42AFF0;
}

button a,
button a:hover {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #eee;
}
