.bp3-tabs {
  width: 100%;

  .bp3-tabs-list {
    justify-content: space-between;
  }
}

:local {
  .root {
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 40px;
    margin: 0 auto 0 auto;
    padding: 0 15px 2px;
    text-align: center;
    display: flex;
    justify-content: center;

    :global(.bp3-tab)[aria-selected="false"] {
      color: #888;
    }
    :global(.bp3-tab)[aria-disabled="true"] {
      color: rgba(92, 112, 128, 0.5);
    }
    :global(.bp3-tab)[aria-selected="true"],
    :global(.bp3-tab):not([aria-disabled="true"]):hover {
      color: #eee;
    }

    :global(.bp3-tab-indicator-wrapper .bp3-tab-indicator) {
      background-color: #eee;
    }

    :global(.bp3-tab) {
      line-height: 40px;
      font-size: 16px;
    }

    @media (max-width: 420px) {
      min-height: 30px;
      padding: 0 10px 2px;
      padding-bottom: 2px;

      :global(.bp3-tab) {
        line-height: 30px;
        font-size: 12px;
        max-width: auto;
      }

      :global(.bp3-tab-list > *:not(:last-child)) {
        margin-right: 15px;
      }
    }

    @media (max-width: 375px) {
      :global(.bp3-tab) {
        line-height: 30px;
        font-size: 12px;
      }

      :global(.bp3-tab-list > *:not(:last-child)) {
        margin-right: 10px;
      }
    }

    @media (max-width: 320px) {
      :global(.bp3-tab) {
        line-height: 30px;
        font-size: 10px;
        max-width: 63px;
      }

      :global(.bp3-tab-list > *:not(:last-child)) {
        margin-right: 15px;
      }
    }
  }
}
