:local {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    max-width: 682px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #555;

    input {
      font-size: 16px;
    }

    @media (max-width: 420px) {
      padding: 10px;
    }
  }

  .flexWrapper {
    display: flex;

    > div:not(:last-child) {
      margin-right: 10px;
    }

    @media (max-width: 682px) {
      flex-direction: column;
      align-items: center;

      > div {
        margin: 0 0 10px;
      }

      > div:not(:last-child) {
        margin: 0 0 10px;
      }
    }
  }

  .helper {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;
    color: red;

    > div {
      margin-left: 10px;
    }

    &.valid {
      color: green;
    }

    @media (max-width: 420px) {
      font-size: 12px;
    }
  }

  .label {
    font-size: 14px;
    line-height: 30px;
  }

  .systemInputGroup {
    position: relative;
    flex: 1 1 100%;

    .systemInput {
      min-width: 220px;
      max-width: 220px;
    }

    .systemInput > :global(input.bp3-input) {
      @media (max-width: 420px) {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
      }
    }

    @media (max-width: 420px) {
      :global(.bp3-input-group.bp3-large > .bp3-icon) {
        margin: 7px;
      }
    }
  }

  .regionPlaceholder {
    position: absolute;
    left: 0;
    right: 10px;
    z-index: 1;
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: 420px) {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }

    .systemHidden {
      visibility: hidden;
    }
  }

  .dropdown {
    position: relative;
    z-index: 100;
    font-size: 14px;
    color: black;
    background-color: white;

    .overlay {
      position: absolute;
      left: 0;
      z-index: 1;
      padding: 10px 5px;
      background: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

    .item {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #aaa;
      }
    }
  }
}
